<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expressões</title>
</head>
<body>
<h1>Expressões no Jinja.</h1>
<hr>
<br>
<p>Viajei para {{ cidade }} e lembrei de {{ nome }}.</p>
<p>Lembra quando fomos no casamento, em {{ ano }}?</p>
<p>Pois é, já fazem {{ hoje - ano }} anos.</p>
<p>Saudades,</p>
<p>{{ autor }}</p>
<p>
    <a href="/">Back to Home Page</a>
</p>
</body>
</html>